<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="BaseTime" value="3000"/>
		<add key="NumberOfPizzas" value="50"/>
		<add key="WaitIntervalTime" value="100"/>
	</appSettings>

	<log4net>
		<appender name="PizzaFactoryLogAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\\logs\\PizzaFactory.log"/>
			<encoding value="utf-8"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level - %message%n"/>
			</layout>
		</appender>
		<root>
			<level value="All"/>
			<appender-ref ref="PizzaFactoryLogAppender"/>
		</root>
	</log4net>
</configuration>